&__brand-logos-panel {
  background-color: getcolor("charcoal-grey");

  .brand-logos {
    h2.meta-heading {
      color: getcolor("white");
      text-align: center;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;

      @include bp(lap) {
        gap: 50px;
      }

      @include bp(desk) {
        gap: 60px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      width: fit-content;

      img {
        display: block;
        width: auto;
        //width: 100%;

        max-height: 70px;
        @include bp(lap) {
          max-height: 90px;
        }
        @include bp(wide) {
          max-height: 100px;
        }
        object-fit: contain;
        margin-bottom: 0;
      }
    }
  }
}
