&__media-content-panel {
  position: relative;
  z-index: 2;
  .top-content-container {
    h2.section-title-medium {
      margin: 0 0 32px;
      max-width: 952px;
      @include bp(wide) {
        margin: 0 0 48px;
      }
    }

    p.introduction {
      font-size: to-rem(24);
      margin: 0;
      margin-bottom: 32px;
      max-width: 845px;

      @include bp(wide) {
        font-size: to-rem(24);
        line-height: to-rem(32);
        margin-bottom: 40px;
      }
    }

    p.content,
    p.description {
      margin: 0;
      max-width: 845px;
      @include bp(wide) {
        font-size: to-rem(19);
        line-height: to-rem(28);
      }
    }

    p:last-of-type {
      margin-bottom: 50px;
      @include bp(wide) {
        margin-bottom: 100px;
      }
    }
  }
  // Overrides
  .video-content-container {
    .video-container {
      @include bp(lap) {
        max-width: 800px;
        margin: 0 auto;
      }
      @include bp(wide) {
        max-width: unset;
        margin: initial;
      }
    }
  }
}

.video-caption {
  @include bp(lap) {
    max-width: 800px;
    margin: 0 auto;
  }
  @include bp(wide) {
    max-width: unset;
    margin: initial;
  }
  padding-top: 2px;
  //font-size: 14px;
}
