$three-col-snap: 1050px;
&__three-column-stats-panel {
  h2 {
    font-weight: 400;
    @include bp(wide) {
      margin: 0 0 80px;
    }
  }

  .content-container {
    @include bp($three-col-snap) {
      @include flex-columns(16, 3);
    }

    &--two-cols {
      @include bp($three-col-snap) {
        @include flex-columns(16, 2);
      }
    }

    &__col {
      border: 1px solid getcolor("charcoal-grey");
      box-sizing: border-box;
      border-radius: $border-radius-lg;

      margin-bottom: 16px;

      padding: 20px;
      @include bp(wide) {
        padding: 30px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include bp(wide) {
        min-height: 100%;
      }

      &:last-child {
        margin: 0 auto;

        @include bp(wide) {
          margin-bottom: initial;
        }
      }

      @include bp($three-col-snap) {
        margin-bottom: initial;
      }

      .stat-container {
        h3 {
          font-size: to-rem(56);
          @include lhCrop(56);
          font-weight: 400;
          line-height: to-rem(65);
          color: getcolor(charcoal-grey);
          margin: 0 0 20px;

          @include bp(lap) {
            font-size: to-rem(70);
            @include lhCrop(70);
            line-height: to-rem(70);
          }

          @include bp(wide) {
            font-size: to-rem(100);
            line-height: to-rem(100);
            @include lhCrop(100);
          }

          @include bp(1920px) {
            font-size: to-rem(104);
            line-height: to-rem(104);
            @include lhCrop(104);
          }
        }

        p.stat-label {
          font-size: to-rem(21);
          font-weight: 400;
          line-height: to-rem(28);
          color: getcolor(charcoal-grey);
          margin: 0 0 32px;

          @include bp(wide) {
            font-size: to-rem(32);
            line-height: to-rem(40);
            margin: 0 0 80px;
          }
        }
      }

      .summary-container {
        p.stat-content {
          margin: 0;
        }
      }
    }
  }
}
